<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{blogName}}</title>
    <!-- Original Theme Bootswatch: Simplex -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mini and minimalist.">
    <meta name="author" content="Thomas Park">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootswatch.css" rel="stylesheet">
    <link href="css/nblog-extra.css" rel="stylesheet">
  </head>

  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
  

  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="#">{{topRight}}</a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">

          <li class="dropdown" id="archive-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Archive <b class="caret"></b></a>
            <ul class="dropdown-menu" id="archive-links">
              <!-- Pull in archive here (AJAX) -->
            </ul>
          </li>

          <li><a href="{{&aboutURL}}">About</a></li>
        </ul>
        <ul class="nav pull-right" id="main-menu-right">
          <li><a rel="tooltip" target="_blank" href="{{&twitterURL}}" title="Me on Twitter">On Twitter</a></li>
        </ul>
       </div>
     </div>
   </div>
 </div>

<div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span6">
      <h1>{{blogName}}</h1>
      <p class="lead">Java, Javascript and everything Internet.</p>
    </div>
  </div>
</header>

<!-- Blog posts
================================================== -->
<section id="latest_post">
  <div class="row">
    <div id="latest_content" class="span8 well">
      <!-- LATEST BLOG POST HERE -->
    </div>
  </div>  
</section><hr>
<section id="posts">
  <div id="next_post"></div> <!-- INSERT NEW POSTS HERE -->


<!-- Pager
================================================== -->
  <div class="row">
    <div class="span8">
      <ul class="pager">
        <li><a id="next-post" class="btn btn-inverse btn-large" href="#">More posts</a></li>
      </ul>
    </div>
  </div>

</section>

</div><!-- /container -->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/jquery.smooth-scroll.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootswatch.js"></script>
<script src="js/main-ui.js"></script>
<script type="text/javascript">
  $(document).ready(UI);
</script>


</body>
</html>
